.home {
  display: flex;

  margin: 0 auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transition: filter 0.3s ease;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.button-text {
  font-weight: bold;
}
.inner-buttons {
  display: flex;
  gap: 10px;
}

.grid {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.form-container {
  padding: 10px;
}
.option-item {
  border-radius: 5px;
  width: 80%;
  box-shadow: -2px 3px 4px rgba(0, 0, 0, 0.184);
  transition: all 0.3s ease;
}

.option-item:hover {
  background-color: lightgray;
}

.question-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.answer-popup {
  width: 50%;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.innerTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .answer-popup {
    display: block;
    position: fixed;
    height: 100vh;
    right: 0;
    z-index: 1000;
  }
  .title {
    justify-content: space-between;
  }
  .arrow-icons {
    display: flex;
    justify-content: space-between;
  }
  .button-text {
    font-weight: normal;
  }
  .inner-buttons {
    gap: 5px;
  }
}

.answer-header {
  display: flex;
  justify-content: flex-end;
}

.close-icon {
  cursor: pointer;
}

.answer-content {
  margin-top: 10px;
}
